<%= render 'layouts/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :phone %>
  <%= f.text_field :phone, class: 'form-control', placeholder: "Seu Celular", :onkeypress =>'if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;', minimum: '11', maximum: '11', size: '11', required:"required" %>
</div>